{% extends "main.html" %}
{% load static %}

{% block content %}
<from style="padding-left: 10px" action="" method="get">
   {{search_form.as_p}}
   <button class="btn btn-primary" type="submit">Search</button>
</from>
{% for post in posts %}

<div class="card" style="width: 18rem;">
  {% if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {% else %}
  <img src="{% static 'placeholder.jpg' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rating}}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Go to post</a>
  </div>
</div>

{% endfor %}
{% for page in max_pages %}
<a class="btn btn-primary" href="/posts/?page=={{page}}">{{page}}</a>
{% endfor %}
{% endblock %}
