{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1>PROFILE</h1>

<div class="container">
  <img src="/media/{{profile_pics.url}}">
  <h2>{{user.username}}</h2>
  <h3>{{user.first_name}}</h3>
  <h3>{{user.last_name}}</h3>
  <h3>{{user.email}}</h3>

</div>
{% for post in posts %}

<div class="card" style="width: 18rem;">
  {% if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {% else %}
  <img src="{% static 'placeholder.jpg' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">{{post.rating}}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Go to post</a>
  </div>
</div>

{% endfor %}
{% endblock %}